<html ng-app>

<head>
    <title>angular quick-start</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>

    <div class="container">
        <div class="row">

            <h1>ng-build-in</h1>

            <table ng-init="families=[{'name': 'Stark',     'crest' : 'img/got/stark.jpg'},
                                      {'name': 'Lennister', 'crest' : 'img/got/lennister.jpg'},
                                      {'name': 'Tyrell',    'crest' : 'img/got/tyrell.jpg'},
                                      {'name': 'Martell',   'crest' : 'img/got/martell.jpg'}]"
                   class="table table-striped">
                <th colspan="{{ families.length }}">
                  <h2>Houses of Westeros<h2>
                </th>
                <tr>
                   <td colspan="{{ families.length }}">
                       <input ng-model="query" class="form-control"
                     placeholder="Filter houses by name...">
                   </td>
                 </tr> 
                <tr>
                    <td ng-repeat="family in families | filter: query">
                        <h4>{{ family.name }}</h4>
                        <img ng-src="{{ family.crest }}" class="img-rounded">
                    </td>
                </tr>

            </table>

            <blockquote>
              <p><abbr title="ng-model">ng-model</abbr> lets you define a two-way-binded field</p>
              <footer>build-in filters like <abbr title="filter">filter</abbr> or <abbr title="sort">sort</abbr> helps you to manage data without a line of javascript.</footer>
            </blockquote>

        </div>
    </div>


    <script type="text/javascript" src="js/angular.min.js"></script>
</body>

</html>
